.container-4
{
    border: 1px solid darkgray;
    margin: 100px auto;
    width: 80%;
    text-align: center; 
    padding: 20px 10px;
}
.flex-box-color
{
    display: flex;
    padding: 10px;
    border: 2px solid darkgray;
    justify-content: space-around;
    flex-wrap: wrap;
}